:root {
  --background-color:#ede1d3;
  --background-color02:#FBF5EE;
  --font-main-color:#1A1A1A;
  --font-color:#ffff;
  --point-color-pink: #ff7782;
  --point-color-purple:#d3d3ff;
  --point-color-mint:#b8e3e9;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@font-face {
  font-family:Roslindale;
  src: url(/fonts/Roslindale-DisplayCondensedRegular-Testing.ttf);
  font-weight: normal;
}

@font-face {
  font-family: MangoGrotesque;
  src: url(/fonts/MangoGrotesque-Regular.otf);
}

@font-face {
  font-family: ppneuemontreal;
  src: url(/fonts/ppneuemontreal-medium.otf);
}

body {
  margin: 0;
  font-family: Roslindale;
  color: var(--font-main-color);
}

.wrap {
  width: 100%;
  height: 100%;
  background: var(--background-color);
}

.cover {
  width: 94%;
  margin: 0 auto;
}

.visual__section {
  width: 100%;
  min-height: 100vh;
  padding: 0 1%;
  background-color: var(--background-color02);
  color:var(--font-color);
  background-position: center;
  color: var(--font-main-color);
  border-radius: 30px;
  position: relative;
  }

  .moveImg01,
  .moveImg02,
  .moveImg03,
  .moveImg04,
  .moveImg05,
  .moveImg06,
  .moveImg07,
  .moveImg08,
  .moveImg09,
  .moveImg10,
  .moveImg11{
    position: absolute;
  }

.skill_container {
  line-height: 1.2;
}

@media (min-width:320px) {
  .header {
    display: flex;
    justify-content: space-between;
  }

  .menu_header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
  }

  .menu__icon,
  .close_icon {
    width: 15vw;
    cursor: pointer;
  }

  .menu__icon img,
  .close_icon img {
    width: 100%;
  }

  .opened_menu {
    display: none;
  }

  .opened_menu.on {
    display: flex;
    flex-direction: column;
    align-items: center;
    background:var(--background-color);
    z-index: 2;
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 0px 6%;
    font-family: MangoGrotesque;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
  }

  .menu_wrap {
    text-align: left;
    padding-top: 45px;
  }

  .menu_wrap p {
    cursor: pointer;
  }

  .menu_wrap p:hover,
  .menu_wrap a:hover {
    color: #ff7782;
  }

  .opened_menu p {
    margin: 0;
    font-size: 5rem;
  }

  .close_icon {
    align-self: flex-end;
    cursor: pointer;
    padding-top: 16px;
    line-height: 0;
  }

  .visual_text {
    padding-top: 30vh;
    width: 100%;
    margin: 0 auto;
  }

  .welcome__msg {
    display: flex;
    flex-flow: column;
    row-gap: 15px;
    font-family: Roslindale;
  }

  .welcome_text01,
  .welcome_text02,
  .welcome_text03 {
    font-size: 3.5rem;
    margin: 0;
  }

  .welcome_text01 {
    justify-self: start;
    font-size: 2rem;
    text-align: left;
  }

  .welcome_text02 {
    text-align: center;
  }

  .welcome_text03 {
    justify-self: end;
    font-size: 2rem;
    text-align: right;
  }

  .text {
    padding: 40px 0 40px;
    font-size: 1.25rem;
    margin: 0;
    color: var(--font-main-color);
    position: absolute;
    top: 80vh;
  }

  .moveImg {
    position:absolute ;
    font-size: 5em;
  }

  .moveImg img {
    width: 100%;
  }

  .moveImg:nth-child(1) {
    top: 15%;
    left: 0%;
    width: 20vw;
  }

  .moveImg:nth-child(2) {
    top: 20%;
    left: 40%;
    width: 20vw;
  }

  .moveImg:nth-child(3) {
    top: 10%;
    left: 50%;
    width: 25vw;
  }

  .moveImg:nth-child(4) {
    top: 65%;
    left: 50%;
    width: 20vw;
  }

  .moveImg:nth-child(5) {
    top: 60%;
    left: 0%;
    width: 20vw;
  }

  .moveImg:nth-child(6) {
    top: 45%;
    left: 10%;
    width: 15vw;
  }

  .moveImg:nth-child(7) {
    top: 30%;
    left: 70%;
    width: 15vw;
  }

  .moveImg:nth-child(8) {
    top: 50%;
    left: 15%;
    width: 20vw;
  }

  .moveImg:nth-child(9) {
    top: 40%;
    left: 40%;
    width: 15vw;
  }

  .contact {
    width: 100%;
    text-align: center;
    padding: 10% 0;
  }

  .contact p {
    margin: 0;
  }

  .contact_main_text {
    font-size: 2.7rem;
    font-weight: bold;
  }

  .contact_sub_text {
    font-size: 1rem;
    padding-top: 10px;
  }

  span {
    border-bottom: 1px solid black; 
    display: block;
    width: 100%;
    padding-top: 40px;
  }

  .contact_info {
    width: 90%;
    justify-content: space-between;
    display: flex;
    padding-top: 40px;
    margin: 0 auto;
    cursor: pointer;
  }
  
  .contact_info a {
    color: var(--font-main-color);
  }
}

@media (min-width:768px) {
  .opened_menu p {
    font-size: 6rem;
  }

  .menu__icon , .close_icon {
    width: 8vw;
  }

  .opened_menu.on {
    padding: 0px 4%;
  }

  .visual_text {
    width: 80%;
  }

  .moveImg:nth-child(1) {
    top: 15%;
    left: 0%;
    width: 10vw;
  }

  .moveImg:nth-child(2) {
    top: 20%;
    left: 40%;
    width: 10vw;
  }

  .moveImg:nth-child(3) {
    top: 10%;
    left: 50%;
    width: 15vw;
  }

  .moveImg:nth-child(4) {
    top: 65%;
    left: 70%;
    width: 15vw;
  }

  .moveImg:nth-child(5) {
    top: 55%;
    left: 0%;
    width: 15vw;
  }

  .moveImg:nth-child(6) {
    top: 45%;
    left: 10%;
    width: 10vw;
  }

  .moveImg:nth-child(7) {
    top: 30%;
    left: 70%;
    width: 8vw;
  }

  .moveImg:nth-child(8) {
    top: 50%;
    left: 15%;
    width: 10vw;
  }

  .moveImg:nth-child(9) {
    top: 40%;
    left: 40%;
    width: 7vw;
  }

  .contact_sub_text {
    font-size: 1.2rem;
  }

  .contact_info p {
    font-size: 1.5rem;
  }
}

@media (min-width:1024px) {
  .welcome__msg {
    font-size: 4rem;
  }

  .text {
    font-size: 1.5rem;
  }

  .welcome__msg {
    font-size: 4rem;
  }

  .welcome_text01 {
    font-size: 3rem;
  }

  .welcome_text02 {
    font-size: 5rem;
  }

  .welcome_text03 {
    font-size: 3rem;
  }

  .menu__icon,
  .close_icon {
    width: 5vw;
  }

  .moveImg:nth-child(1) {
    top: 15%;
    left: 0%;
    width: 8vw;
  }

  .moveImg:nth-child(2) {
    top: 20%;
    left: 40%;
    width: 8vw;
  }

  .moveImg:nth-child(3) {
    top: 10%;
    left: 50%;
    width: 10vw;
  }

  .moveImg:nth-child(4) {
    top: 65%;
    left: 70%;
    width: 10vw;
  }

  .moveImg:nth-child(5) {
    left: 0%;
    width: 10vw;
  }

  .moveImg:nth-child(6) {
    top: 45%;
    left: 10%;
    width: 10vw;
  }

  .moveImg:nth-child(7) {
    top: 30%;
    left: 70%;
    width: 8vw;
  }

  .moveImg:nth-child(8) {
    top: 50%;
    left: 15%;
    width: 10vw;
  }

  .moveImg:nth-child(9) {
    top: 40%;
    left: 40%;
    width: 10vw;
  }

  .visual_text {
    padding-top: 25vh;
  }

  .contact_main_text {
    font-size: 3.5rem;
  }

  .contact_sub_text {
    font-size: 1.5rem;
  }

  .contact_info p {
    font-size: 2rem;
  }
}

@media (min-width:1440px) {
  .menu__icon, .close_icon {
    width: 3.5vw;
  }

  .welcome__msg {
    font-size: 5.5rem;
  }

  .text {
    font-size: 1.5rem;
  }

  .visual_text {
    width: 60%;
  }

    .moveImg:nth-child(1) {
    top: 15%;
    left: 0%;
    width: 9vw;
  }

  .moveImg:nth-child(2) {
    top: 20%;
    left: 40%;
    width: 7vw;
  }

  .moveImg:nth-child(3) {
    top: 10%;
    left: 50%;
    width: 8vw;
  }

  .moveImg:nth-child(4) {
    top: 65%;
    left: 70%;
    width: 6vw;
  }

  .moveImg:nth-child(5) {
    left: 0%;
    width: 7vw;
  }

  .moveImg:nth-child(6) {
    top: 45%;
    left: 10%;
    width: 6vw;
  }

  .moveImg:nth-child(7) {
    top: 30%;
    left: 70%;
    width: 5vw;
  }

  .moveImg:nth-child(8) {
    top: 50%;
    left: 15%;
    width: 7vw;
  }

  .moveImg:nth-child(9) {
    top: 40%;
    left: 40%;
    width: 6vw;
  }

  .contact_main_text {
    font-size: 3rem;
  }
}

@media (min-width:1920px) {
  .opened_menu p {
    font-size: 7rem;
  }
  
  .visual_text {
    width: 55%;
  }

  .welcome_text02 {
    font-size: 7rem;
  }

  .contact_main_text {
    font-size: 4rem;
  }

  .contact_sub_text {
    font-size: 2rem;
  }

  .contact_info p {
    font-size: 2.5rem;
  }
}

