:root {
  --background-color:#ede1d3;
  --font-main-color:#1A1A1A;
  --font-color:#ffff;
  --point-color-pink: #ff7782;
  --point-color-purple:#d3d3ff;
  --point-color-mint:#b8e3e9;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--font-main-color);
}

.container a {
  color: var(--font-main-color);
}

@media (min-width:320px) {
  #projects_section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    padding-top: 5%;
    margin: 0 auto;
  }
  .container {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #e3d2be;
    margin: 0;
    border-radius: 9px;
    background-color: var(--background-color02);
  }

  .project_img {
    width: 100%;
    height: 26vh;
    margin: 0;
    border-radius: 7px;
    overflow: hidden;
  }

  .project_img img {
    width: 100%;
    height: 90%;
    object-fit: cover;
  }

  .text_box {
    padding: 0 16px;
  }

  .name {
    font-size: 1.5rem;
    margin: 0;
  }

  .viewBtn {
    border: 1px solid #1A1A1A;
    width: fit-content;
    border-radius: 40px;
    padding: 10px;
  }

  .description, 
  .container a {
    font-size: 1.25rem;
  }

}

@media (min-width:768px) {
  #projects_section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
}

@media (min-width:1440px) {
  .project_img {
    height: 36vh;
  }
}


@media (min-width:1440px) {
  #projects_section  {
    width: 90%;
  }

  .project_img {
    height: 46vh;
  }
}
